doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        title zChat

        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='components-font-awesome/css/font-awesome.min.css')

        link(rel='stylesheet', href='tether/dist/css/tether.min.css')
        link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='animate.css/animate.min.css')
        link(rel='stylesheet', href='toastr/toastr.min.css')
        link(href='css/app.css', rel='stylesheet', type='text/css')
        link(href='css/imgareaselect-default.css', rel='stylesheet', type='text/css')

        script(src='jquery/dist/jquery.min.js')
        script(src='tether/dist/js/tether.min.js')
        script(src='bootstrap/dist/js/bootstrap.min.js')
        script(src='remarkable-bootstrap-notify/bootstrap-notify.js')
        script(src='toastr/toastr.min.js')
        script(src='handlebars/handlebars.min.js')
        script(src='js/jquery.timeago.js', type='text/javascript')
        script(src='js/jquery.imgareaselect.pack.js', type='text/javascript')
        script(src='socket.io/socket.io.js')

        // templates
        script#message-template(type="text/x-handlebars-template")
            .media
                .media-body
                    h4.media-heading.name {{author}}
                        time.posted-date(datetime='{{postedDate}}')
                    | {{{text}}}

        script#room-template(type="text/x-handlebars-template")
            li.list-group-item(id="{{_id}}")
                span.label.label-primary.label-pill.pull-xs-right {{peopleCount}}
                | {{name}}

        script#user-template(type="text/x-handlebars-template")
            li.list-group-item(id="{{_id}}") {{name}}

        script#typing-template(type="text/x-handlebars-template")
            span.pull-xs-left.typing
                img(src="images/typing.gif", style="width: 25px")

body
    #enter-chat-modal.modal.fade(role='dialog', aria-labelledby='welcome', aria-hidden='false')
        .modal-dialog(role='document')
            .modal-content.niko
                .modal-header
                    h4#welcome.modal-title Welcome!
                .modal-body
                    ul.nav.nav-tabs
                        li.nav-item.login-item
                            a.nav-link.active(href='#') Log In
                        li.nav-item.signup-item
                            a.nav-link(href='#') Sign Up
                        li.nav-item.incognito-item
                            a.nav-link(href='#') Incognito
                    .form
                        .login
                            .form-group
                                label.form-control-label(for='username') Username:
                                //- span.invalid
                                input#username.form-control(type='text', autofocus, autocomplete="off")
                            .form-group
                                label.form-control-label(for='password') Password:
                                //- span.invalid
                                input#password.form-control(type='password', autocomplete="off")

                        .signup
                            .form-group
                                label.form-control-label(for='username') Username:
                                //- span.invalid
                                input#username.form-control(type='text', autofocus, autocomplete="off")
                            .form-group
                                label.form-control-label(for='password') Password:
                                //- span.invalid
                                input#password.form-control(type='password', autocomplete="off")
                            .form-group
                                label.form-control-label(for='confirm-password') Confirm password:
                                //- span.invalid
                                input#confirm-password.form-control(type='password', autocomplete="off")
                            //- .avatar-block
                            //- form#avatar.dropzone(action='#')
                            img#avatar(src="https://pbs.twimg.com/profile_images/587571943513137152/amdnGVqf_400x400.jpg", alt="Your avatar")
                            //- .btn-group.gender(data-toggle='buttons')
                            //-     label.btn.btn-primary.male
                            //-         input#option1(type='radio', name='gender', autocomplete='off')
                            //-         | Male
                            //-     label.btn.btn-primary.female
                            //-         input#option2(type='radio', name='gender', autocomplete='off')
                            //-         | Female


                        .incognito
                            .form-group
                                label.form-control-label(for='username') Username:
                                //- span.invalid
                                input#username.form-control(type='text', autofocus, autocomplete="off")

                .modal-footer
                    button#enter-chat-button.btn(type='button') Enter

    #create-room-modal.modal.fade(role='dialog', aria-labelledby='createRoom', aria-hidden='false')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#createRoom.modal-title Create room
                .modal-body
                    .form
                        .form-group
                            label.form-control-label(for='room-name') Name:&nbsp;
                                span.asterisk *
                            span.invalid
                            input#room-name.form-control(type='text')
                        .form-group
                            label.form-control-label(for='room-password') Password:
                            span.invalid
                            input#room-password.form-control(type='password')
                        .form-group
                            label.form-control-label(for='room-password-confirm') Password again:
                            span.invalid
                            input#room-password-confirm.form-control(type='password')
                        .form-group
                            label.form-control-label(for='room-code') Code:&nbsp;
                                span.asterisk *
                            span.invalid
                            input#room-code.form-control(type='password')
                        .form-group
                            label.form-control-label(for='room-code-confirm') Code again:&nbsp;
                                span.asterisk *
                            span.invalid
                            input#room-code-confirm.form-control(type='password')
                .modal-footer
                    //.checkbox#join-room-checkbox
                    //    label
                    //        input(type='checkbox', value='')
                    //        | Join newely created room
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-success#create(type='button') Create

    //#delete-room-modal.modal.fade(role='dialog', aria-labelledby='deleteRoom', aria-hidden='false')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#deleteRoom.modal-title Delete room
                .modal-body
                    .form-group
                        label.form-control-label(for='room-c-input') Code:
                        input#room-c-input.form-control(type='password')
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-danger(type='button') Delete

    #room-password-modal.modal.fade(role='dialog', aria-labelledby='roomPassword', aria-hidden='false')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#roomPassword.modal-title Enter room
                .modal-body
                    .form
                        .form-group
                            label.form-control-label(for='password') Password:
                            span.invalid
                            input#password.form-control(type='password')
                        .form-group
                            label.form-control-label(for='code') Code:
                            span.invalid
                            input#code.form-control(type='password', placeholder="Needed only to delete room")
                .modal-footer
                    //button.btn.btn-info#subscribe-room(type='button', style="float: left") Subscribe
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-danger#delete-room(type='button') Delete
                    button.btn.btn-success#enter-room(type='button') Enter


    header
        .btn-group
            label.btn.btn-primary#rooms-sidebar-button.active Rooms
            //label.btn.btn-primary#subscriptions-button
                i.fa.fa-star
            label.btn.btn-primary#create-room-button
                i.fa.fa-plus-circle
            //input#search-input(type='text', placeholder='search for rooms:')
            //label.btn.btn-primary#search-button
                i.fa.fa-search
        .btn-group
            //label.btn.btn-primary#invite-people-button
                i.fa.fa-user-plus
            label.btn.btn-primary.active#people-sidebar-button People

    #rooms-sidebar
        ul.list-group

    .container-fluid
        .row
            .content
                #messages
                .input-group#message-input-block
                    input#message-input.form-control(type='text', placeholder="Your message:")
                    span.input-group-addon#send send


    #people-sidebar
        ul.list-group

    script(src='js/app.js')
