.hide-for-medium {
	font-family: 'Monaco';
	font-size: 18px;
	color: white;
	padding: 20px;
	background: #00558b;
	padding-left: 50px;
}

.hide-for-medium a {
	position: absolute;
	top: 10px;
	left: 18.6px;
	color: white;
}

.hide-for-medium a i {
	display: inline-block;
	font-size: 36px;
}

/* mine */

#sendMessage {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	margin: 0;
	background-color: rgba(52, 82, 203, 0.51);
	cursor: pointer;
	color: white;
}

#sendMessage:hover, #enterChat:hover, #sendPrivateMessage:hover, #createRoom:hover, #sendPassword:hover, #sendRoomCode:hover {
	background-color: rgba(52, 82, 203, 0.81);
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
}

.message-input {
	position: relative;
}

.message-input input {
	margin-bottom: 0;
	padding-right: 80px;
}

body {
	background-color: white;
	font-family: monaco;
}

.modal {
	overflow: auto;
}

.unactiveMessagesLink {
	color: black;
	font-size: 30px;
	background: rgba(52, 82, 203, 0.1) !important;
	cursor: pointer !important;
}

.unactiveMessagesLink:hover {
	color: rgb(52, 82, 203) !important;
}

#changeMessagesLinks a {
	padding-top: 15px;
	width: 50%;
	font-size: 16px;
	display: inline-block;
	height: 48px;
	text-align: center;
	color: rgb(52, 82, 203);
	cursor: default;
	border-bottom: 2px solid rgba(52, 82, 203, 0.51) !important;
}

/*.grid-block.vertical {
	position: relative;
}*/

#messages, #privateMessages {
	/*background-image: url('../images/notepad_texture.png');*/
	background-repeat: repeat-y;
	padding: 0 25px;
	margin-top: 48px;
	/*position: absolute;
	top: 20px;
	left: 0;*/
}

#privateMessages {
	display: none;
}

#privateConversationLink {
	margin-top: 10px;
	display: inline-block;
	color: rgb(52, 82, 203);
}

#privateConversationLink:hover {
	text-decoration: underline;
}

#messages {
	/*margin-top: 47px;*/
}

/*.peopleSidebar ul li:hover {
	background-color: rgba(52, 82, 203, 0.1);
	cursor: pointer;
}*/

#showModalButton {
	display: none;
}

.showNewRoomModal:hover, .showRemoveRoomModal:hover {
	color: rgb(29, 131, 210);

}

.showNewRoomModal, .showRemoveRoomModal {
	margin: 0 5px;
}

#sidebar {
	border-right: 1px solid rgba(52, 82, 203, 0.3);
}

.avatar-section {
	background-color: black;
	color: white;
}

.hide-for-medium {
	background-color: black;
}

.block-list div {
	background: rgba(52, 82, 203, 0.51);
	color: white;
	height: 48px;
	font-size: 24px;
	text-align: center;
	line-height: 2.1;
	/*border-bottom: 1px solid rgba(52, 82, 203, 0.51);*/
}

.block-list li {
	border-bottom: 1px solid rgba(52, 82, 203, 0.3);
}

.message-input input, .message-input input:hover, .message-input input:focus {
	font-size: 12px;
	background: rgba(52, 82, 203, 0.10);
	border: none !important;
	border-top: 1px solid rgba(52, 82, 203, 0.3) !important;
}

header, .avatar-section {
	font-size: 20px !important;
	color: white !important;
	padding: 15px;
	text-align: center;
	margin: 0 !important;
	background-color: black;
}

#closeInputNameModal,
#closeNewRoomModal,
#closeRoomPasswordModal,
#closeRemoveRoomModal,
#closePrivateMessageModal {
	/*display: none;*/
}

#enterChat, #sendPrivateMessage, #createRoom, #sendPassword, #sendRoomCode {
	float: right;
	margin: 10px 0 0 0;
	color: white;
	background-color: rgba(52, 82, 203, 0.51);
}

#removeRoomModal p {
	color: red;
	margin-top: 35px;
}

#passwordInput, #privateMessage, #roomName, #code {
	margin-top: 35px !important;
}

#closeInputNameModal {
	display: none;
}

#roomCodeRepeat, #identificationCode, #passwordInput, #code {
	margin: 0;
}

#privateMessage {
	resize: none;
	height: 150px;
	margin: 0;
}

#createRoomButton {
	float: right;
	margin: 10px 0 0 0;
}

.roomsSidebar li {
	text-align: right;
	height: 44px;
}

.roomsSidebar span:first-child {
	float: left;
	line-height: 0;
}

.roomsSidebar span:first-child:after {
	clear: both;
}

.privateConversation {
	padding-left: 10px;
	cursor: pointer;
}

.lock, .privateConversation {
	width: 30px;
}

.roomsSidebar li span:nth-child(2) {
	padding-right: 9px;
}

.subscribtionButton {
	width: 23px;
	cursor: pointer;
}

.roomsIcon {
	margin-right: 10px;
	width: 45px;
	height: 45px;
}

.activeItem {
	background: rgba(52, 82, 203, 0.30);
}

.name {
	color: rgb(52, 82, 203);
}

hr {
	background-color: rgba(52, 82, 203, 0.1);
	border: 0;
	height: 1px !important;
}

.date {
	color: rgba(52, 82, 203, 0.51);
	font-size: 10px;
	float: right;
}

.peopleIcon {
	margin: 0 0 5px 10px;
	width: 40px;
	height: 40px;
}

.block-list {
	margin: 0;
}

.block-list ul {
	padding-bottom: 50px;
	color: rgb(52, 82, 203);
}

.roomsSidebar, .peopleSidebar {
	padding: 0;
}

.peopleSidebar, .roomsSidebar, .block-list, .block-list ul {
	height: 100%;
	overflow: hidden;
}

.roomsSidebar span:last-child {
	padding: 6px 6px 0 6px;
}

.roomsSidebar li:not(.activeItem):hover, .peopleSidebar li:not(.activeItem):hover {
	background-color: rgba(52, 82, 203, 0.10);
}

.buttons {
	padding: 0 !important;
}

.buttons a {
	margin: 0;
	font-size: 20px;
}

.roomsSidebar li:not(.activeItem), .roomsSidebar li:not(.activeItem) *,
.peopleSidebar li:not(.activeItem):not(.meItem), .peopleSidebar li:not(.activeItem):not(.meItem) * {
	cursor: pointer;
}

.block-list ul {
	overflow: auto;
}

.grid-content {
	padding: 0;
}

.grid-content.left {
	border-right: 1px solid rgba(52, 82, 203, 0.3);
}

.grid-content.right {
	border-left: 1px solid rgba(52, 82, 203, 0.3);
}

.userIsTypingIcon {
	float: left;
	margin-top: 3px;
	width: 20px;
}

.toast-success {
	background-color: rgba(52, 82, 203, 0.81);
}

.toast-warning {
	background-color: #E22F2A;
}

.meItem span {
	color: #E22F2A !important;
}

.doctorItem span {
	color: green !important;
}

#changeMessagesLinks {
	position: absolute;
	width: 100%;
}

@media (max-width: 799px) {
	#changeMessagesLinks {
		top: 48px;
	}

	#messages, #privateMessages {
		margin-top: 96px;
	}
}



.header {
	position: absolute;
	height: 48px;
	width: 100%;
	background: rgba(52, 82, 203, 0.51) !important;
	color: black;
	font-size: 24px;
	text-align: center;
	padding: 0;
	line-height: 2.1;
	padding: 0 20px;
}

.hide-for-medium {
	background: none;
}

.underHeaderBlock {
	height: 400px;
}

.header img:nth-child(1) {
	float: left;
	margin-top: 3px;
}

.header img:nth-child(2) {
	float: right;
	margin-top: 5px;
}

.underHeaderBlock {
	height: 50px;
}

.peopleSidebar li {
	padding-left: 12px !important;
	height: 44px;
}

.peopleSidebar li span {
	float: right;
	padding: 5px 0 0 0;
}

.block-list li {
	padding: 9px 10px 9px 0;
}

.block-list li > a, .block-list li > span, .block-list li > label {
	color: rgb(52, 82, 203);
}

.block-list li > a, .block-list li > span, .block-list li > label {
	display: inline;
}

::-webkit-input-placeholder {
	color: rgba(52, 82, 203, .4);
}

:-moz-placeholder {
	color: rgba(52, 82, 203, .4);
}

::-moz-placeholder {
	color: rgba(52, 82, 203, .4);
}

:-ms-input-placeholder {  
	color: rgba(52, 82, 203, .4);
}

.close-button {
	color: rgba(52, 82, 203, .3);
	-webkit-transition: color 200ms linear;
	-moz-transition: color 200ms linear;
	-o-transition: color 200ms linear;
	-ms-transition: color 200ms linear;
	transition: color 200ms linear;
}

.close-button:hover {
	color: rgba(52, 82, 203, .51);
	-webkit-transition: color 200ms linear;
	-moz-transition: color 200ms linear;
	-o-transition: color 200ms linear;
	-ms-transition: color 200ms linear;
	transition: color 200ms linear;
}

input, textarea {
	color: rgb(52, 82, 203) !important;
	border: 1px solid rgba(52, 82, 203, .3) !important;
}

input:focus, textarea:focus { 
	outline:none;
	border: 1px solid rgba(52, 82, 203, .51); 
	box-shadow: 0px 0px 8px rgba(52, 82, 203, .51); 
	-moz-box-shadow: 0px 0px 8px rgba(52, 82, 203, .51);
	-webkit-box-shadow: 0px 0px 8px rgba(52, 82, 203, .51);  
}​

.block-list span {
	padding: none !important;
	display: inline !important;
}

.roomsSidebarSmall .roomsSidebar, .peopleSidebarSmall .peopleSidebar {
	position: relative;
}

#closeRoomsSidebarSmallButton, #closePeopleSidebarSmallButton {
	position: absolute;
	top: auto;
	right: 10px;
	bottom: 15px;
}

#closePeopleSidebarSmallButton {
	left: 10px;
}

