// vars
$main-color: rgb(2, 117, 216)
$main-color-darker: darken($main-color, 10)
$main-color-lighter: lighten($main-color, 25)
$main-color-lightest: lighten($main-color, 50)

// rulse

::-webkit-input-placeholder
    color: $main-color-lightest
::-moz-placeholder
    color: $main-color-lightest
//::-moz-placeholder
//    color: $main-color-lightest
//::-ms-input-placeholder
//    color: $main-color-lightest

button
    outline: none !important

html
    display: none

body
    overflow: hidden
    background: black

// header
header
    display: flex
    justify-content: space-between
    align-items: center
    height: 50px
    background-color: $main-color
    label
        transition: all 0.1s ease-in-out
        background-color: rgb(2, 104, 191) !important
        margin: 0
        cursor: pointer !important
        color: $main-color-lightest !important
        &:hover,
        &.active
            background-color: #299bfd !important
            color: white !important

    #rooms-sidebar-button
        margin-left: 20px !important

    #people-sidebar-button
        margin-right: 20px

    .btn
        border: none
        background-color: $main-color-darker
        cursor: default

    //.switchers
        //.btn
        //    &:not(.active)
            //    cursor: pointer
            //&.active
            //    background-color: $main-color-lighter

#messages-header
    text-shadow: none
    padding-top: 5px

#people-sidebar
    .list-group-item
        text-align: right

.list-group
    background-color: white

.modal-header
    background-color: $main-color
    color: white
    button,
    button:hover
        opacity: 1
        color: white


.btn-group .btn+.btn
    margin: 0

.content
    transition: all 0.3s ease-in-out
    background: $main-color-lightest
    opacity: 1

    .input-group
        padding: 0

    &.shadowed
        opacity: 0.5
        cursor: pointer

#delete-room-button,
#create-room-button,
#invite-people-button,
#search-button,
#subscriptions-button
    transition: all 0.1s ease-in-out
    width: 41.6094px
    background-color: $main-color-darker
    padding: 5px 0 0 0
    width: 36px
    height: 36px

    &:hover
        background-color: #299bfd !important

#delete-room-button,
#create-room-button
    padding-top: 6px

#delete-room-button,
#invite-people-button
    margin: 0 2px

#create-room-button,
#subscriptions-button
    margin-right: 2px

#join-room-checkbox
    float: left
    input
        margin-right: 10px


#delete-room-button
    margin: 0 2px

.media:first-child
    margin-top: 20px !important

.media:last-child
    margin-bottom: 20px !important

#message-input-block
    z-index: 12

#search-input
    height: 36px
    border: none
    padding: 0 10px
    outline: none
    background-color: #0268BF
    color: white

#search-button
    float: right
    
#private-mode-button
    margin: 0

#private-messages
    display: none

.asterisk
    color: #d9534f
    font-size: 20px


.invalid
    color: #d9534f
    font-style: italic
    font-size: 12px
    float: right
    margin-top: 15px

//.content-overlay
//    display: none
//    opacity: 0
//    transition: all 0.3s ease-in-out
//
//    &.visible
//        display: block
//        opacity: 0.7

#rooms-sidebar
    z-index: 3
    transition: all 0.3s ease-in-out
    position: fixed
    top: 50px
    left: 0
    width: 300px
    &.hidden
        left: -300px
    ul
        height: calc(100vh - 50px)
        box-shadow: 2px 0 8px -3px $main-color-lighter

#people-sidebar
    z-index: 3
    transition: all 0.3s ease-in-out
    position: fixed
    top: 50px
    right: 0
    width: 300px
    &.hidden
        right: -300px
    ul
        height: calc(100vh - 50px)
        box-shadow: -2px 0 8px -3px $main-color-lighter
        .list-group-item
            text-align: right

#rooms-sidebar,
#people-sidebar
    ul
        &.shadowless
            box-shadow: none !important


.list-group
    .list-group-item
        border-color: lighten(#5CB85C, 40)
        &:not(.active)
            cursor: pointer
        &:hover
            background-color: lighten(#5CB85C, 40)
            border-color: lighten(#5CB85C, 40)

.typing
    color: #0275D8
    font-size: 18px
    padding: 0

.list-group
    .label
        margin-top: 3px

.form-control,
.input-group-addon,
.list-group-item:first-child,
.list-group-item:last-child,
.modal-content,
.btn
    border-radius: 0 !important

.input-group-addon
    color: white
    background-color: $main-color
    border: none
    cursor: pointer
    &:hover
        background-color: $main-color-darker

.active
    background: #5CB85C !important
    border-color: #5CB85C !important

    .label
        background-color: white
        color: #5CB85C
    
.pull-left
    float: left !important
    padding-right: 10px !important

.list-group
    overflow: auto
    height: calc(100vh - 50px) !important

.list-group-item
    overflow-x: scroll

.posted-date
    float: right
    color: darkgray
    font-size: 50% !important

.media
    margin: 40px 20px !important
    background: white
    padding: 10px
    box-shadow: 3px 3px 5px lighten($main-color, 46)

.media-heading
    margin: 10px 0

.messages
    height: calc(100vh - 86px)
    overflow-y: scroll


//input
//    background-color: rgb(247, 247, 247) !important

#messageInput
    height: 45px
    border-bottom-width: 0
    border-right-width: 0
    border-color: lighten($main-color, 30) !important

    &:focus
        border-bottom-width: 0

time
    font-weight: 200


//.searchRoom,
//.searchPeople
//    padding: 0
//    position: relative
//    .input-group
//        display: block
//
//        input
//            height: 50px
//            padding: 0 20px
//            border: none
//            background-color: #D6FBFF
//
//            &:hover
//                border: none
//
//        i
//            position: absolute
//            top: 15px
//            right: 22px
//            z-index: 1000
//            font-size: 22px
//            color: $main-color

//.searchPeople
//    .input-group
//        input
//            text-align: right
//        i
//            right: auto
//            left: 22px !important
//
//.row > div
//    float: left
//.hide-for-medium {
//	font-family: 'Monaco';
//	font-size: 18px;
//	color: white;
//	padding: 20px;
//	background: #00558b;
//	padding-left: 50px;
//}
//
//.hide-for-medium a {
//	position: absolute;
//	top: 10px;
//	left: 18.6px;
//	color: white;
//}
//
//.hide-for-medium a i {
//	display: inline-block;
//	font-size: 36px;
//}
//
///* mine */
//
//@font-face {
//	font-family: Monaco;
//	src: url(/fonts/monaco.ttf);
//}
//
//@font-face {
//	font-family: Consolas;
//	src: url(/fonts/consolas.ttf);
//}
//
//#sendMessage {
//	position: absolute;
//	right: 0;
//	bottom: 0;
//	height: 100%;
//	margin: 0;
//	background-color: #97a7e4;
//	cursor: pointer;
//	color: white;
//}
//
//#sendMessage:hover, #enterChat:hover, #sendPrivateMessage:hover, #createRoom:hover, #sendPassword:hover, #sendRoomCode:hover {
//	background-color: rgba(52, 82, 203, 0.81);
//	-webkit-transition: background-color 500ms linear;
//	-moz-transition: background-color 500ms linear;
//	-o-transition: background-color 500ms linear;
//	-ms-transition: background-color 500ms linear;
//	transition: background-color 500ms linear;
//}
//
//.message-input {
//	position: relative;
//}
//
//.message-input input {
//	margin-bottom: 0;
//	padding-right: 80px;
//}
//
//body {
//	background-color: white;
//	font-family: 'Consolas', sans-serif;
//}
//
//.modal {
//	overflow: auto;
//}
//
//.unactiveMessagesLink {
//	color: white !important;
//	font-size: 30px;
//	background-color: #97a7e4 !important;
//	cursor: pointer !important;
//	border: none !important;
//}
//
//.unactiveMessagesLink:hover {
//	text-decoration: underline;
//}
//
//#changeMessagesLinks a {
//	line-height: 2.4;
//	width: 50%;
//	font-size: 20px;
//	display: inline-block;
//	height: 48px;
//	text-align: center;
//	color: #97A6E4;
//	cursor: default;
//	border-bottom: 1px solid #97a7e4;
//}
//
///*.grid-block.vertical {
//	position: relative;
//}*/
//
//#messages, #privateMessages {
//	/*background-image: url('../images/notepad_texture.png');*/
//	background-repeat: repeat-y;
//	padding: 0 25px;
//	margin-top: 48px;
//	/*position: absolute;
//	top: 20px;
//	left: 0;*/
//}
//
//#privateMessages {
//	display: none;
//}
//
//#privateConversationLink {
//	margin-top: 10px;
//	display: inline-block;
//	color: rgb(52, 82, 203);
//}
//
//#privateConversationLink:hover {
//	text-decoration: underline;
//}
//
//#messages {
//	/*margin-top: 47px;*/
//}
//
///*.peopleSidebar ul li:hover {
//	background-color: rgba(52, 82, 203, 0.1);
//	cursor: pointer;
//}*/
//
//#showModalButton {
//	display: none;
//}
//
//.showNewRoomModal:hover, .showRemoveRoomModal:hover {
//	color: rgb(52, 82, 203);
//}
//
//.showNewRoomModal, .showRemoveRoomModal {
//	margin: 0 5px;
//}
//
//#sidebar {
//	border-right: 1px solid rgba(52, 82, 203, 0.3);
//}
//
//.avatar-section {
//	background-color: black;
//	color: white;
//}
//
//.hide-for-medium {
//	background-color: black;
//}
//
//.block-list div {
//	background: #97a7e4;
//	color: white;
//	height: 48px;
//	font-size: 24px;
//	text-align: center;
//	line-height: 2.1;
//}
//
//.block-list li {
//	border-bottom: 1px solid rgba(52, 82, 203, 0.3) !important;
//}
//
//.message-input input, .message-input input:hover, .message-input input:focus {
//	font-size: 12px;
//	background: rgba(52, 82, 203, 0.10);
//	border: none !important;
//	border-top: 1px solid rgba(52, 82, 203, 0.3) !important;
//}
//
//header, .avatar-section {
//	font-size: 20px !important;
//	color: white !important;
//	padding: 15px;
//	text-align: center;
//	margin: 0 !important;
//	background-color: black;
//}
//
//#closeInputNameModal,
//#closeNewRoomModal,
//#closeRoomPasswordModal,
//#closeRemoveRoomModal,
//#closePrivateMessageModal {
//	/*display: none;*/
//}
//
//#enterChat, #sendPrivateMessage, #createRoom, #sendPassword, #sendRoomCode {
//	float: right;
//	margin: 10px 0 0 0;
//	color: white;
//	background-color: #97a7e4;
//}
//
//#removeRoomModal p {
//	color: red;
//	margin-top: 35px;
//}
//
//#passwordInput, #privateMessage, #roomName, #code {
//	margin-top: 35px !important;
//}
//
//#closeInputNameModal {
//	display: none;
//}
//
//#roomCodeRepeat, #identificationCode, #passwordInput, #code {
//	margin: 0;
//}
//
//#privateMessage {
//	resize: none;
//	height: 150px;
//	margin: 0;
//}
//
//#createRoomButton {
//	float: right;
//	margin: 10px 0 0 0;
//}
//
//.roomsSidebar li {
//	min-height: 44px;
//	overflow: auto;
//	padding-left: 10px;
//	padding-right: 60px !important;
//	position: relative;
//}
//
//.roomsSidebar span:first-child {
//	/*float: left;*/
//	/*line-height: 0;*/
//	padding-left: 20px;
//	height: 20px;
//}
//
//.roomsSidebar span:first-child:after {
//	clear: both;
//}
//
//.privateConversation {
//	cursor: pointer;
//	width: 20px;
//	float: left;
//	margin-top: 4px;
//}
//
//.userIsTypingIcon {
//	float: left;
//	width: 20px;
//	margin: 4px 10px 0 0;
//}
//
//.roomsSidebar li:first-child img {
//	visibility: hidden;
//}
//
//.roomsSidebar li span:nth-child(2) {
//	position: absolute;
//	right: 43px;
//	top: 4px;
//	padding: 6px 6px 4px 6px !important;
//	color: red;
//}
//
//.roomsSidebar li span:last-child {
//	position: absolute;
//	right: 20px;
//	padding: 6px 6px 2px 6px !important;
//}
//
//.roomsSidebar li img:nth-child(2) {
//	width: 35px;
//	position: absolute;
//	right: 36px;
//	top: 7px;
//}
//
//.roomsSidebar li img:last-child {
//	width: 35px;
//	cursor: pointer;
//	position: absolute;
//	right: 13px;
//
//}
//
//.subscribtionButton {
//	width: 23px !important;
//	top: 10px;
//}
//
//.roomsIcon {
//	margin-right: 10px;
//	width: 45px;
//	height: 45px;
//}
//
//.activeItem {
//	background: rgba(52, 82, 203, 0.30);
//}
//
//.name {
//	color: rgb(112, 131, 210);
//	font-size: 1.1rem;
//}
//
//hr {
//	background-color: rgba(52, 82, 203, 0.1);
//	border: 0;
//	height: 1px !important;
//}
//
//.date {
//	color: #97a7e4;
//	font-size: 10px;
//	float: right;
//}
//
//.peopleIcon {
//	margin: 0 0 5px 10px;
//	width: 40px;
//	height: 40px;
//}
//
//.block-list {
//	margin: 0;
//}
//
//.block-list ul {
//	color: rgb(52, 82, 203);
//}
//
//.roomsSidebar, .peopleSidebar {
//	padding: 0;
//}
//
//.peopleSidebar, .roomsSidebar, .block-list, .block-list ul {
//	height: 100%;
//	overflow: hidden;
//}
//
//.roomsSidebar li:not(.activeItem):hover, .peopleSidebar li:not(.activeItem):hover {
//	background-color: rgba(52, 82, 203, 0.10) !important;
//}
//
//.buttons {
//	padding: 0 !important;
//}
//
//.buttons a {
//	margin: 0;
//	font-size: 20px;
//}
//
//.roomsSidebar li:not(.activeItem), .roomsSidebar li:not(.activeItem) *,
//.peopleSidebar li:not(.activeItem), .peopleSidebar li:not(.activeItem) * {
//	cursor: pointer;
//}
//
//.block-list ul {
//	overflow: auto;
//}
//
//.grid-content {
//	padding: 0;
//}
//
//.roomsSidebar ul {
//	border-right: 1px solid rgba(52, 82, 203, 0.3);
//}
//
//.peopleSidebar ul {
//	border-left: 1px solid rgba(52, 82, 203, 0.3);
//}
//
//
//.toast-success {
//	background-color: rgba(52, 82, 203, 0.81);
//}
//
//.toast-warning {
//	background-color: #E22F2A;
//}
//
//.meItem span {
//	color: #E22F2A !important;
//}
//
//.renameMark {
//	display: none !important;
//}
//
//.meItem:hover .renameMark {
//	display: inline-block;
//}
//
//.doctorItem span {
//	color: green !important;
//}
//
//#changeMessagesLinks {
//	position: absolute;
//	width: 100%;
//	background-color: white;
//}
//
//@media (max-width: 799px) {
//	#changeMessagesLinks {
//		top: 48px;
//	}
//
//	#messages, #privateMessages {
//		margin-top: 96px;
//	}
//}
//
//.header {
//	position: absolute;
//	height: 48px;
//	width: 100%;
//	background: #97a7e4 !important;
//	color: white;
//	font-size: 24px;
//	text-align: center;
//	padding: 0;
//	line-height: 2.1;
//	padding: 0 20px;
//}
//
//.hide-for-medium {
//	background: none;
//}
//
//.underHeaderBlock {
//	height: 400px;
//}
//
//.header img:nth-child(1) {
//	float: left;
//	margin-top: 3px;
//}
//
//.header img:nth-child(2) {
//	float: right;
//	margin-top: 5px;
//}
//
//.underHeaderBlock {
//	height: 50px;
//}
//
//.peopleSidebar li {
//	position: relative;
//	min-height: 44px;
//	overflow: auto;
//	/*overflow: hidden;*/
//	/*padding: 12px 20px 12px 16px !important;*/
//	text-align: right;
//	background-color: white !important;
//}
//
//.peopleSidebar li span {
//	padding: 5px 0 0 30px;
//}
//
//.block-list li {
//	padding: 9px 20px 9px 20px;
//}
//
//.block-list li > a, .block-list li > span, .block-list li > label {
//	color: rgb(52, 82, 203);
//}
//
//.block-list li > a, .block-list li > span, .block-list li > label {
//	display: inline;
//}
//
//.block-list li > span {
//	padding: 0 !important;
//	line-height: 1.5;
//}
//
//.block-list li:first-child {
//	border: none;
//}
//
//::-webkit-input-placeholder {
//	color: rgba(52, 82, 203, .4);
//}
//
//:-moz-placeholder {
//	color: rgba(52, 82, 203, .4);
//}
//
//::-moz-placeholder {
//	color: rgba(52, 82, 203, .4);
//}
//
//:-ms-input-placeholder {
//	color: rgba(52, 82, 203, .4);
//}
//
//.close-button {
//	color: rgba(52, 82, 203, .3);
//	-webkit-transition: color 200ms linear;
//	-moz-transition: color 200ms linear;
//	-o-transition: color 200ms linear;
//	-ms-transition: color 200ms linear;
//	transition: color 200ms linear;
//}
//
//.close-button:hover {
//	color: #97a7e4;
//	-webkit-transition: color 200ms linear;
//	-moz-transition: color 200ms linear;
//	-o-transition: color 200ms linear;
//	-ms-transition: color 200ms linear;
//	transition: color 200ms linear;
//}
//
//input, textarea {
//	color: rgb(52, 82, 203) !important;
//	border: 1px solid rgba(52, 82, 203, .3) !important;
//}
//
//input:focus, textarea:focus {
//	outline:none;
//	border: 1px solid #97a7e4;
//	box-shadow: 0px 0px 8px #97a7e4;
//	-moz-box-shadow: 0px 0px 8px #97a7e4;
//	-webkit-box-shadow: 0px 0px 8px #97a7e4;
//}​
//
//.block-list span {
//	padding: none !important;
//	display: inline !important;
//}
//
//.roomsSidebarSmall .roomsSidebar, .peopleSidebarSmall .peopleSidebar {
//	position: relative;
//	padding-bottom: 86px;
//	background: #EBEEFA;
//}
//
//#closeRoomsSidebarSmallButton, #closePeopleSidebarSmallButton {
//	position: absolute;
//	top: auto;
//	right: 10px;
//	bottom: 15px;
//}
//
//.block-list ul {
//	background-color: white;
//}
//
//#closePeopleSidebarSmallButton {
//	left: 10px;
//}
//
//.roomsSidebar li > span:first-child, .peopleSidebar li > span {
//	position: absolute;
//	left: 0;
//	margin-left: 20px;
//	width: 200px;
//	overflow: auto;
//	height: 25px;
//}
//
//.peopleSidebar li > span {
//	left: auto;
//	right: 0;
//	margin-right: 20px;
//}
//
//#renameInput {
//	min-height: 43px;
//	text-align: right;
//	background-color: #F0F3FE;
//	cursor: default;
//	padding: 0 19px;
//	border: 1px solid #F0F3FE !important;
//}
//
//#clearPaddingLeft {
//	padding: 0 !important;
//}
//
//#peopleCountLeftInRoom {
//	color: red;
//}
//
//.messageText {
//	font-size: .9rem;
//}
