// vars
$main-color: rgb(2, 117, 216)
$main-color-darker: darken($main-color, 10)
$main-color-lighter: lighten($main-color, 25)
$main-color-lightest: lighten($main-color, 47)

// rulse

::-webkit-input-placeholder
    color: $main-color-lightest

::-moz-placeholder
    color: $main-color-lightest
//::-moz-placeholder
//    color: $main-color-lightest
//::-ms-input-placeholder
//    color: $main-color-lightest

button
    outline: none !important

html
    display: none

body
    overflow: hidden
    background: black
    font-family: 'Open Sans', sans-serif
    // line-height: 1rem

.asterisk
    color: red

a
    color: #5BA7EF
    &:hover
        color: #5BA7EF

//textarea
    resize: none
    height: 62px

// header
header
    z-index: 1000
    display: flex
    justify-content: space-between
    align-items: center
    height: 50px
    position: fixed
    top: 0
    left: 0
    width: 100%
    -moz-box-shadow: 0 1px 1px #903200
    -webkit-box-shadow: 0 1px 1px #903200
    box-shadow: 0 1px 1px #903200
    // -moz-box-shadow: 0 1px 1px $main-color-darker
    // -webkit-box-shadow: 0 1px 1px $main-color-darker
    // box-shadow: 0 1px 1px $main-color-darker
    label
        transition: all 0.1s ease-in-out
        background-color: #772A00 !important//$main-color-darker !important
        margin: 0
        cursor: pointer !important
        color: #FDC1A0 !important//$main-color-lightest !important
        &:hover,
        &.active
            background-color: #772A00 !important//$main-color-lighter !important
            color: white !important

    #rooms-sidebar-button
        transition: all 0.2s ease-in-out
        margin-left: 20px !important
            // box-shadow: 0 0 2px white

    #people-sidebar-button
        margin-right: 20px

    .btn
        border: none
        background-color: $main-color-darker
        cursor: default
        text-shadow: 0 0 1px black
        &.active,
        &:hover
            // box-shadow: 0 0 1px #2270E1

header, .modal-header
    background: -moz-linear-gradient(to bottom, #feccb1 0%,#fb955e 47%,#fb955e 47%,#f17432 50%,#ea5507 100%)
    background: -webkit-linear-gradient(to bottom, #feccb1 0%,#fb955e 47%,#fb955e 47%,#f17432 50%,#ea5507 100%)
    background: linear-gradient(to bottom, #feccb1 0%,#fb955e 47%,#fb955e 47%,#f17432 50%,#ea5507 100%)

.modal-footer
    border-top: 1px solid #FECBAF

#messages-header
    text-shadow: none
    padding-top: 5px

#people-sidebar
    .list-group-item
        text-align: right

.list-group,
.media
    background: #FFF9F6
    // background: -moz-linear-gradient(135deg, #ECF6FF 0%, #D4D4D4 47%, #ECF6FF 100%) !important
    // background: -webkit-linear-gradient(135deg, #ECF6FF 0%, #D4D4D4 47%, #ECF6FF 100%) !important
    // background: linear-gradient(135deg, #ECF6FF 0%, #D4D4D4 47%, #ECF6FF 100%) !important


.scaledUp
    transition: transform 0.3s ease-in-out
    transform: scale(1)

.scaledDown
    transform: scale(0)

.list-group
    background-color: white

.highlighted
    color: #8AFF8A

.modal-header
    color: white
    border-radius: 4px 4px 0 0
    button,
    button:hover
        opacity: 1
        color: white

    .modal-title
        font-weight: bold
        font-size: 2rem
        color: #FFF9F6

.btn-group .btn + .btn
    margin: 0

.content
    transition: all 0.3s ease-in-out
    background: #FFE9DD//$main-color-lightest
    opacity: 1

    .input-group
        padding: 0

    &.shadowed
        opacity: 0.5
        cursor: pointer

#create-room-button,
#invite-people-button,
#search-button,
#subscriptions-button
    transition: all 0.1s ease-in-out
    width: 41.6094px
    background-color: $main-color-darker
    padding: 5px 0 0 0
    width: 36px
    height: 36px

    &:hover
        // background-color: $main-color-lighter !important

#create-room-button
    padding-top: 6px
    margin-left: 2px

#join-room-checkbox
    float: left
    input
        margin-right: 10px

#delete-room-button
    margin: 0 2px

#message-input-block
    z-index: 12
    height: 30px
    
#list-group-item,
#message-input,
#send
    border-radius: 0 !important

#send
    background: #772A00
#message-input
    height: 40px
    font-size: 18px

#search-input
    height: 36px
    border: none
    padding: 0 10px
    outline: none
    background-color: #0268BF
    color: white

#search-button
    float: right

#private-mode-button
    margin: 0

#private-messages
    display: none

.input-group-addon
    background-color: #772A00 !important
    transition: all 0.2s ease-in-out

    &:hover
        background-color: #2777E4 !important

.invalid
    color: red
    font-style: italic
    font-size: 18px
    float: right
    margin-top: 5px

#toast-container
    top: 62px
    right: 310px
    z-index: 2
    height: calc(100vh - 112px)
    overflow: hidden
    transition: all 0.3s ease-in-out

    & > div
        width: 275px
        box-shadow: none

        &:hover
            box-shadow: none

#rooms-sidebar
    z-index: 3
    transition: all 0.3s ease-in-out
    position: fixed
    top: 50px
    left: 0
    width: 300px
    &.hidden
        left: -300px
    ul
        height: calc(100vh - 50px)
        box-shadow: 2px 0 8px -3px #FEBF9D//$main-color-lighter

#people-sidebar
    z-index: 3
    transition: all 0.3s ease-in-out
    position: fixed
    top: 50px
    right: 0
    width: 300px
    &.hidden
        right: -300px
    ul
        height: calc(100vh - 50px)
        box-shadow: -2px 0 8px -3px #FEBF9D//$main-color-lighter
        .list-group-item
            text-align: right
            background: none

#rooms-sidebar,
#people-sidebar
    ul
        &.shadowless
            box-shadow: none !important

#rooms-sidebar
    .list-group-item
        background: none
        &:not(.active)
            cursor: pointer
        &:hover
            background-color: $main-color-lightest
            border-color: $main-color-lightest

.typing
    color: $main-color
    padding: 0

#rooms-sidebar
    .label
        margin-top: 3px
        background-color: #5BA7EF
    li.active
        .label
            background-color: white

.modal-content
    background: #FFF9F6
    border: none

input[type="text"],
input[type="password"]
    border-color: #FECBAF
    height: 50px
    font-size: 1.5rem
    
    &:focus
        border-color: #EF6B26
        
label
    color: #EF6B26

.input-group-addon
    color: white
    background-color: $main-color
    border: none
    cursor: pointer
    &:hover
        background-color: $main-color-darker

.list-group-item.active
    background: -moz-linear-gradient(135deg, #F37E3F 0%, #FBA06F 58%, #FBA170 58%, #F0702C 100%) !important
    background: -webkit-linear-gradient(135deg, #F37E3F 0%, #FBA06F 58%, #FBA170 58%, #F0702C 100%) !important
    background: linear-gradient(135deg, #F37E3F 0%, #FBA06F 58%, #FBA170 58%, #F0702C 100%) !important
    // background: -moz-linear-gradient(-45deg, #7abcff 0%, #8cc2f7 58%, #8cc2f7 58%, #4096ee 100%) !important
    // background: -webkit-linear-gradient(-45deg, #7abcff 0%, #8cc2f7 58%, #8cc2f7 58%, #4096ee 100%) !important
    // background: linear-gradient(135deg, #7abcff 0%, #8cc2f7 58%, #8cc2f7 58%, #4096ee 100%) !important

.my-message
    background: -moz-linear-gradient(135deg, #A6D4FF 0%, #97D6FF 47%, #5AA7EF 100%) !important
    background: -webkit-linear-gradient(135deg, #A6D4FF 0%, #97D6FF 47%, #5AA7EF 100%) !important
    background: linear-gradient(135deg, #A6D4FF 0%, #97D6FF 47%, #5AA7EF 100%) !important
    a
        color: white
    .media-heading
        color: $main-color-darker
    color: black
    time
        color: white

.list-group-item.active
    border: none
    border-radius: 0

    .label
        background-color: #FFF9F6
        color: #ED6016//$main-color-lighter

.pull-left
    float: left !important
    padding-right: 10px !important

.list-group
    background: #FFF9F6
    overflow: auto
    height: calc(100vh - 50px) !important

.list-group-item
    border: 1px solid $main-color-lightest
    border-left: none
    border-right: none
    overflow-x: auto

.posted-date
    position: absolute
    top: -10px
    right: 0
    color: $main-color-darker
    font-size: 50% !important
    font-weight: 200

.media
    margin: 50px 50px !important
    background: white
    padding: 30px
    box-shadow: 3px 3px 3px #A1D3FF

.media-heading
    margin: 10px 0
    font-weight: bold
    border-bottom: 1px dashed $main-color-darker
    padding-bottom: 5px
    position: relative
    padding-top: 7px
    color: $main-color-darker

#messages
    height: calc(100vh - 86px)
    overflow-y: scroll

#messageInput
    height: 45px
    border-bottom-width: 0
    border-right-width: 0
    border-color: lighten($main-color, 30) !important

    &:focus
        border-bottom-width: 0

#enter-chat-modal
    .nav
        border-bottom: 1px solid rgb(254, 203, 175)
        padding: 20px 20px 0
        .nav-link
            font-size: 1.1rem
            font-weight: bold
            border: 1px solid rgba(254, 203, 175, 0.38)
        .nav-link:not(.active)
            transition: all 0.2s ease-in-out
            color: #FDBC99
            
            &:hover
                border: 1px solid rgba(254, 203, 175, 1)
                color: #EF6B26
        .nav-link.active
            background: #FFF9F6
            color: #EF6B26
            cursor: default
            border-color: #FECBAF #FECBAF transparent
    .modal-body
        padding: 0
    .form
        transition: height 0.3s ease-in-out
        padding: 30px 15px 15px
        #signup,
        #guest
            display: none

        input[type="radio"]
            margin-left: 15px

    #enter-chat-button,
    #upload-avatar
        color: #FFF9F6
        background: #F6884C
        &:hover
            background: darken(#F6884C, 10)
            
    #upload-avatar
        display: block
        margin: 30px auto 15px

.avatar-block
    text-align: center

.btn-file
    margin: 10px 
    position: relative
    overflow: hidden
    background: #F6884C
    color: #FFF9F6
    &:hover
        background: #f4681b 

.btn-file input[type=file]
    position: absolute
    top: 0
    right: 0
    min-width: 100%
    min-height: 100%
    font-size: 100px
    text-align: right
    filter: alpha(opacity=0)
    opacity: 0
    outline: none
    background: white
    cursor: inherit
    display: block

.c-radio
    .c-indicator
        background-color: #FFFFFF

.c-checkbox
    color: #EF6B26
    span
        border: 1px solid #F6884C
        background: #FFFFFF

.c-input > input ~ .c-indicator
    border: 1px solid #F6884C

.c-input > input:checked ~ .c-indicator
    border: none
    
.c-input
    color: #EF6B26

.c-input+.c-input
    margin-left: 1.5rem

.c-indicator
    width: 20px
    height: 20px

.c-input>input:checked~.c-indicator
    background-color: #F6884C

.c-input>input~.c-indicator,
.c-input>input:checked~.c-indicator
    color: #F6884C

.c-input>input:active~.c-indicator
    background: #F6884C
    color: #F6884C

// .c-checkbox:focus
input[type="checkbox"]:focus + .c-indicator,
input[type="radio"]:focus + .c-indicator
    -webkit-box-shadow: 0 0 0 .075rem #FFF9F6,0 0 0 .2rem #FFF9F6 !important
    box-shadow: 0 0 0 .075rem #FFF9F6,0 0 0 .2rem #FFF9F6 !important

//colors
$black: #000000
$color_coral_approx: #f6884c
$color_bridal_heath_approx: #fff9f6

input[type=range] 
    margin: 10px 0
    width: 100%
    &:focus 
        outline: none

    &:focus::-webkit-slider-runnable-track 
        background: $color_coral_approx

    &:focus::-ms-fill-lower 
        background: $color_coral_approx

    &:focus::-ms-fill-upper 
        background: $color_coral_approx


input[type=range]::-webkit-slider-runnable-track 
    width: 100%
    height: 2px
    cursor: pointer
    animate: 0.2s
    //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 $black
    background: $color_coral_approx
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 50px
    border: 0 solid $black

input[type=range]::-webkit-slider-thumb 
    //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 $black
    border: 1px solid $color_coral_approx
    height: 14px
    width: 14px
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 50px
    background: $color_bridal_heath_approx
    cursor: pointer
    margin-top: -6.5px

input[type=range]::-moz-range-track 
    width: 100%
    height: 2px
    cursor: pointer
    animate: 0.2s
    //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 $black
    background: $color_coral_approx
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 50px
    border: 0 solid $black

input[type=range]::-moz-range-thumb 
    //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 $black
    border: 1px solid $color_coral_approx
    height: 14px
    width: 14px
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 50px
    background: $color_bridal_heath_approx
    cursor: pointer

input[type=range]::-ms-track 
    width: 100%
    height: 2px
    cursor: pointer
    animate: 0.2s
    background: transparent
    border-color: transparent
    color: transparent

input[type=range]::-ms-fill-lower 
    background: $color_coral_approx
    border: 0 solid $black
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 100px
    //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 $black

input[type=range]::-ms-fill-upper 
    background: $color_coral_approx
    border: 0 solid $black
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 100px
    //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 $black

input[type=range]::-ms-thumb 
    //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 $black
    border: 1px solid $color_coral_approx
    height: 14px
    width: 14px
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 50px
    background: $color_bridal_heath_approx
    cursor: pointer

// croppie
$white: #fff
$black_50: rgba(0, 0, 0, 0.5)
$color_alto_approx: #ddd

//@extend-elements
//original selectors
//.croppie-container .cr-viewport.debug:before, .croppie-container .cr-viewport.debug:after
.extend_1 
    background: $white
    width: 1px
    height: 1px
    content: ''
    position: absolute



.croppie-container 
    padding: 30px
    .cr-image 
        z-index: -1
        position: absolute
        top: 0
        left: 0
        //If you use compass, instead of the line below you could use + transform-origin($origin-x, $origin-y, $origin-z, $only3d)
        transform-origin: 0 0

    .cr-boundary 
        position: relative
        overflow: hidden
        margin: 0 auto
        z-index: 1

    .cr-viewport 
        position: absolute
        border: 2px solid $white
        margin: auto
        top: 0
        bottom: 0
        right: 0
        left: 0
        //If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 0 0 1000px $black_50
        z-index: 0
        &.debug 
            &:before 
                @extend %extend_1
                top: 0
                height: 100%
                left: 50%

            &:after 
                @extend %extend_1
                top: 50%
                left: 0
                width: 100%



    .cr-vp-circle 
        //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
        border-radius: 50%

    .cr-overlay 
        z-index: 1
        position: absolute
        cursor: move

    .cr-slider-wrap 
        width: 75%
        margin: 0 auto
        margin-top: 25px
        text-align: center


.croppie-result 
    position: relative
    overflow: hidden
    img 
        position: absolute


.cr-slider 
    width: 300px
    max-width: 100%
    &:focus 
        outline: none

    &:-moz-focusring 
        outline: 1px solid $white
        outline-offset: -1px

    &:focus::-ms-fill-lower 
        background: $black_50

    &:focus::-ms-fill-upper 
        background: $black_50


.cr-slider::-webkit-slider-runnable-track 
    width: 100%
    height: 3px
    background: $black_50
    border: 0
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 3px

.cr-slider::-webkit-slider-thumb 
    border: none
    height: 16px
    width: 16px
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 50%
    background: $color_alto_approx
    margin-top: -6px

.cr-slider::-moz-range-track 
    width: 100%
    height: 3px
    background: $black_50
    border: 0
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 3px

.cr-slider::-moz-range-thumb 
    border: none
    height: 16px
    width: 16px
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 50%
    background: $color_alto_approx
    margin-top: -6px

.cr-slider::-ms-track 
    width: 300px
    height: 5px
    background: transparent
    border-color: transparent
    border-width: 6px 0
    color: transparent

.cr-slider::-ms-fill-lower 
    background: $black_50
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 10px

.cr-slider::-ms-fill-upper 
    background: $black_50
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 10px

.cr-slider::-ms-thumb 
    border: none
    height: 16px
    width: 16px
    //If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
    border-radius: 50%
    background: $color_alto_approx

// custom croppie
.croppie-container
    padding: 10px
    
    .cr-slider-wrap
        margin-top: 10px
        max-width: 300px

    .cr-viewport
        border: none

.cr-boundary
    border-radius: 50%
    border: 2px solid #F6884C
    
.cr-slider-wrap
    margin-top: 0